//Stylesheet: ベーススタイル

body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

//defaultのfont-sizeより少し小さめ
.font-sm {
  font-size: 14px;
}
//少し大きめ
.font-md {
  font-size: 17px;
}
//大きめ(スマホの時)
.font-lr {
  font-size: 17px;
}
//上記より大きい
.font-lg {
  font-size: 25px;
}

//margin-bottomを定義
.mb-sm {
  //importをつけてこちらを優先させる
  margin-bottom: 16px !important;
}
.mb-lg {
  //importをつけてこちらを優先させる
  margin-bottom: 80px !important;
}
//padding-bottom定義
.pb-sm {
  //importをつけてこちらを優先させる
  padding-bottom: 16px !important;
}
.pb-lg {
  //importをつけてこちらを優先させる
  padding-bottom: 80px !important;
}

//左右
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  //スマホの縦並び
  flex-direction: column;
}

.turquoise-blue {
  color: $cTurquoise;
}

#content {
  padding-top: $navHei;
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHei;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
}

.well-known-store {
  @extend .content-width;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }

  &__sub {
    @extend .mb-sm;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__texts {
    @extend .pb-sm;
  }
}

.shops {
  @extend .content-width;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.attention {
  &__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90%;
      background-color: $cBgGray;
    }
  }

  &__header {
    @extend .content-width;
  }

  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }

  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
  &__img {
    //150px
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      //defaultはcenter表示
      // object-position: bottom;
      height: 100%;
      width: 100%;
    }
  }
}

.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 2.7em;
  }
}
.footer {
  padding: 60px 0;
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 40px;
    justify-content: center;
  }
}
